**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/charts
**/docker-compose*
**/compose*
**/.env
**/Dockerfile*
**/.DS_Store
**/node_modules
**/npm-debug.log
**/README.md
**/LICENSE
**/*.md
